.searchbar {
    width: 280px;
}

.git-icon {
    color: #5E77FF;
}

#list-timezone {
    display: block;
    background-color: lightgray;
    position: absolute;
    width: 280px;
    z-index: 999;
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    max-height: 300px;
    overflow-y: scroll;
}

.navDiv {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-color: rgb(244, 244, 244);
}

.whiteBackground {
    background-color: white;
}

.button {
    background: #20c997;
    color: rgb(255, 255, 255);
    border-color: #20c997;
    border-bottom-color: #22814d;
}

.btn-hover {
    margin-right: 5px;
}

.btn-hover:hover {
    background-color: #20c99698;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
}

.m-r-3 {
    margin-right: 3px;
}


.actives {
    color: black;
    background-color: #20c9964a;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 500;
}


.toggle {
    display: none;
}

.secondNav {
    justify-content: space-between;
}

@media screen and (max-width: 769px) {
    .toggle {
        display: block;
        margin-right: 10px;
        font-size: 30px;
        cursor: pointer;
    }

    .searchbar {
        margin-top: 15px;
    }

    .secondNav {
        flex-direction: column !important;
    }

    .M-auto {
        margin: auto;
    }
}

@media screen and (max-width: 450px) {
    .searchbar {
        width: 260px;
    }

    #list-timezone {
        width: 260px;
    }

    li a {
        font-size: 14px;
    }

    li {
        font-size: 14px;
    }
}