.sidebar-row {
  display: flex;
  margin: auto;
}

a:hover {
  color: black;
}

.sidebar-links a {
  display: inherit;
  padding: 5px 0;
}

.sidebar-links a span {
  padding: 5px 10px;
}

.sidebar-links a span:hover {
  background-color: #20c99698;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
}

.sidebar-links a.active span {
  background-color: #20c9964a;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 500;
}


.col1 {
  border-right: 1px solid black;
  position: sticky;
  top: 76.44px;
  height: calc(100vh - 76.44px);
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 20px;
}

.hidden {
  padding-right: 0;
  width: 350px;
  height: 100vh;
  position: fixed;
  z-index: 999999;
  background-color: white;
  left: 0;
  top: 0;
}


@media only screen and (max-width: 769px) {
  .sidebar-row {
    padding: 0;
  }

  .col1 {
    display: none;
  }

  .col2 {
    margin: auto;
  }

  .sidebar-heading {
    padding: 14px;
  }

  .sidebar-links {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 20px;
  }
}